js.sdo.lib/dev/src/sdo/_sdo/test/java/com/sap/sdo/testcase/schemas/childalias.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://services.ots.bpem.sap.com/"
  xmlns:tns1="http://services.ots.bpem.sap.com/"
  xmlns:sdo="commonj.sdo"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="createSalesOrderResponse" type="tns1:createSalesOrderResponse" ns1:aliasName="$http://services.ots.bpem.sap.com/:createSalesOrderResponse" xmlns:ns1="commonj.sdo/xml"></xsd:element>
  <xsd:complexType name="createSalesOrderResponse" ns2:aliasName="#createSalesOrderResponse" xmlns:ns2="commonj.sdo/xml">
    <xsd:sequence>
      <xsd:element name="return" type="tns1:salesOrder" minOccurs="0" ns2:aliasName="$return"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salesOrder" ns3:aliasName="#salesOrder" xmlns:ns3="commonj.sdo/xml">
    <xsd:complexContent>
      <xsd:extension base="tns1:order">
        <xsd:sequence>
          <xsd:element name="statusCode" type="xsd:int" ns3:aliasName="$statusCode"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="order" ns4:aliasName="#order" xmlns:ns4="commonj.sdo/xml">
    <xsd:complexContent>
      <xsd:extension base="tns1:modelEntity">
        <xsd:sequence>
          <xsd:element name="customer" type="tns1:customer" minOccurs="0" ns4:aliasName="$customer"></xsd:element>
          <xsd:element name="description" type="xsd:string" minOccurs="0" ns4:aliasName="$description"></xsd:element>
          <xsd:element name="orderItems" type="tns1:orderItem" minOccurs="0" maxOccurs="unbounded" nillable="true" ns4:aliasName="$orderItems"></xsd:element>
          <xsd:element name="subject" type="xsd:string" minOccurs="0" ns4:aliasName="$subject"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="modelEntity" ns5:aliasName="#modelEntity" xmlns:ns5="commonj.sdo/xml">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long" ns5:aliasName="$id"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="customer" ns6:aliasName="#customer" xmlns:ns6="commonj.sdo/xml">
    <xsd:complexContent>
      <xsd:extension base="tns1:modelEntity">
        <xsd:sequence>
          <xsd:element name="address" type="xsd:string" minOccurs="0" ns6:aliasName="$address"></xsd:element>
          <xsd:element name="name" type="xsd:string" minOccurs="0" ns6:aliasName="$name"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="orderItem" ns7:aliasName="#orderItem" xmlns:ns7="commonj.sdo/xml">
    <xsd:complexContent>
      <xsd:extension base="tns1:modelEntity">
        <xsd:sequence>
          <xsd:element name="productCode" type="xsd:string" minOccurs="0" ns7:aliasName="$productCode"></xsd:element>
          <xsd:element name="quantity" type="xsd:int" ns7:aliasName="$quantity"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema> 

