js.sdo.lib/dev/src/sdo/_sdo/test/java/com/sap/sdo/testcase/schemas/kpiconfigporttype.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="urn:KpiVI" targetNamespace="urn:KpiWSD/KpiVI" xmlns:tns="urn:KpiWSD/KpiVI">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:java/lang" xmlns:tns="urn:java/lang" elementFormDefault="qualified">
      <xs:complexType name="ArrayOfdouble">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="double" type="xs:double" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test" xmlns:tns="urn:kpi_test" elementFormDefault="qualified" xmlns:s0="urn:kpi_test/wrapper">
      <xs:import namespace="urn:kpi_test/wrapper"/>
      <xs:complexType name="UnboundClass">
        <xs:sequence>
          <xs:element name="elements" type="s0:ArrayOfWrapperClass" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/long" xmlns:tns="urn:kpi_test/long" elementFormDefault="qualified">
      <xs:complexType name="LongClass">
        <xs:sequence>
          <xs:element name="int1" type="xs:int"/>
          <xs:element name="int2" type="xs:int"/>
          <xs:element name="int3" type="xs:int"/>
          <xs:element name="long1" type="xs:long"/>
          <xs:element name="long2" type="xs:long"/>
          <xs:element name="long3" type="xs:long"/>
          <xs:element name="longObj1" type="xs:long" nillable="true" minOccurs="0"/>
          <xs:element name="longObj2" type="xs:long" nillable="true" minOccurs="0"/>
          <xs:element name="longObj3" type="xs:long" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/simplecontent" xmlns:tns="urn:kpi_test/simplecontent" elementFormDefault="qualified">
      <xs:complexType name="SimpleContentClass">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="intAttr" type="xs:int"/>
            <xs:attribute name="floatAttr" type="xs:float"/>
            <xs:attribute name="dobleAttr" type="xs:double"/>
            <xs:attribute name="strAttr" type="xs:string"/>
            <xs:attribute name="intAttrObj" type="xs:int"/>
            <xs:attribute name="floatAttrObj" type="xs:float"/>
            <xs:attribute name="doubleAttrObj" type="xs:double"/>
            <xs:attribute name="longAttrObj" type="xs:long"/>
            <xs:attribute name="longAttr" type="xs:long"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="java:sap/standard" xmlns:tns="java:sap/standard" elementFormDefault="qualified">
      <xs:complexType name="ArrayList">
        <xs:sequence>
          <xs:element name="ArrayList" minOccurs="0" maxOccurs="unbounded" type="xs:anyType"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:java.util" xmlns:tns="urn:java.util" elementFormDefault="qualified">
      <xs:complexType name="ArrayOfDate">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Date" type="xs:dateTime" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KpiVI" xmlns:tns="urn:KpiVI" elementFormDefault="qualified" xmlns:s0="urn:kpi_test">
      <xs:import namespace="urn:kpi_test"/>
      <xs:element name="echoUnbound">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="arg1" type="s0:UnboundClass" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoUnboundResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" type="s0:UnboundClass" nillable="true"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/wrapper" xmlns:tns="urn:kpi_test/wrapper" elementFormDefault="qualified" xmlns:s5="java:sap/standard" xmlns:s2="urn:kpi_test/decintbase" xmlns:s1="urn:kpi_test/find" xmlns:s4="urn:kpi_test/simplecontent" xmlns:s0="urn:kpi_test/ddate" xmlns:s3="urn:kpi_test/long">
      <xs:import namespace="java:sap/standard"/>
      <xs:import namespace="urn:kpi_test/decintbase"/>
      <xs:import namespace="urn:kpi_test/find"/>
      <xs:import namespace="urn:kpi_test/simplecontent"/>
      <xs:import namespace="urn:kpi_test/ddate"/>
      <xs:import namespace="urn:kpi_test/long"/>
      <xs:complexType name="WrapperClass">
        <xs:all>
          <xs:element name="ddclass" type="s0:DoubleDateClass" nillable="true" minOccurs="0"/>
          <xs:element name="fclass" type="s1:FloatClass" nillable="true" minOccurs="0"/>
          <xs:element name="dibclass" type="s2:DecimalIntegerBase64Class" nillable="true" minOccurs="0"/>
          <xs:element name="longclass" type="s3:LongClass" nillable="true" minOccurs="0"/>
          <xs:element name="scontent" type="s4:SimpleContentClass" nillable="true" minOccurs="0"/>
          <xs:element name="list" type="s5:ArrayList" nillable="true" minOccurs="0"/>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="ArrayOfWrapperClass">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WrapperClass" type="tns:WrapperClass" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/find" xmlns:tns="urn:kpi_test/find" elementFormDefault="qualified">
      <xs:complexType name="FloatClass">
        <xs:sequence>
          <xs:element name="float1" type="xs:float"/>
          <xs:element name="float2" type="xs:float"/>
          <xs:element name="float3" type="xs:float"/>
          <xs:element name="floatObj1" type="xs:float" nillable="true" minOccurs="0"/>
          <xs:element name="floatObj2" type="xs:float" nillable="true" minOccurs="0"/>
          <xs:element name="floatObj3" type="xs:float" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:java.math" xmlns:tns="urn:java.math" elementFormDefault="qualified">
      <xs:complexType name="ArrayOfBigInteger">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BigInteger" type="xs:integer" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBigDecimal">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BigDecimal" type="xs:decimal" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/ddate" xmlns:tns="urn:kpi_test/ddate" elementFormDefault="qualified" xmlns:s1="urn:java/lang" xmlns:s0="urn:java.util">
      <xs:import namespace="urn:java/lang"/>
      <xs:import namespace="urn:java.util"/>
      <xs:complexType name="DoubleDateClass">
        <xs:sequence>
          <xs:element name="dates" type="s0:ArrayOfDate" nillable="true" minOccurs="0"/>
          <xs:element name="doubles" type="s1:ArrayOfdouble" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:kpi_test/decintbase" xmlns:tns="urn:kpi_test/decintbase" elementFormDefault="qualified" xmlns:s0="urn:java.math">
      <xs:import namespace="urn:java.math"/>
      <xs:complexType name="DecimalIntegerBase64Class">
        <xs:sequence>
          <xs:element name="integers" type="s0:ArrayOfBigInteger" nillable="true" minOccurs="0"/>
          <xs:element name="decimals" type="s0:ArrayOfBigDecimal" nillable="true" minOccurs="0"/>
          <xs:element name="bytes" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="echoUnboundIn_doc">
    <wsdl:part name="parameters" element="ns0:echoUnbound"/>
  </wsdl:message>
  <wsdl:message name="echoUnboundOut_doc">
    <wsdl:part name="parameters" element="ns0:echoUnboundResponse"/>
  </wsdl:message>
  <wsdl:portType name="KpiVI">
    <wsdl:operation name="echoUnbound">
      <wsdl:input message="tns:echoUnboundIn_doc"/>
      <wsdl:output message="tns:echoUnboundOut_doc"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>