js.sdo.lib/dev/src/sdo/_sdo/test/java/com/sap/sdo/testcase/schemas/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://ns.sap.com/JcoComposite/JcoService/" sdo:id="27255889" xmlns:sdo="commonj.sdo" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdlns="http://ns.sap.com/JcoComposite/JcoService/" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/">
  <types sdo:id="4634890">
<xsd:schema targetNamespace="test.user.getdetail"
   xmlns:tns="test.user.getdetail"
   xmlns:sdoJava="commonj.sdo/java"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:simpleType name="CHAR42">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="42"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="LOGONDATA">
    <xsd:sequence>
        <xsd:element name="GLTGV" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="GLTGB" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="USTYP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ACCNT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TZONE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LTIME" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="BCODE" type="xsd:hexBinary" maxOccurs="1"/>
        <xsd:element name="CODVN" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PASSCODE" type="xsd:hexBinary" maxOccurs="1"/>
        <xsd:element name="CODVC" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CLASS" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR18">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR128">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="128"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="BAPI_USER_GET_DETAIL_TABLE">
    <xsd:sequence>
        <xsd:element name="GROUPS" type="tns:GROUPS" maxOccurs="unbounded"/>
        <xsd:element name="ACTIVITYGROUPS" type="tns:ACTIVITYGROUPS" maxOccurs="unbounded"/>
        <xsd:element name="ADDCOMREM" type="tns:ADDCOMREM" maxOccurs="unbounded"/>
        <xsd:element name="ADDFAX" type="tns:ADDFAX" maxOccurs="unbounded"/>
        <xsd:element name="ADDPAG" type="tns:ADDPAG" maxOccurs="unbounded"/>
        <xsd:element name="ADDPRT" type="tns:ADDPRT" maxOccurs="unbounded"/>
        <xsd:element name="ADDRFC" type="tns:ADDRFC" maxOccurs="unbounded"/>
        <xsd:element name="ADDRML" type="tns:ADDRML" maxOccurs="unbounded"/>
        <xsd:element name="ADDSMTP" type="tns:ADDSMTP" maxOccurs="unbounded"/>
        <xsd:element name="ADDSSF" type="tns:ADDSSF" maxOccurs="unbounded"/>
        <xsd:element name="ADDTEL" type="tns:ADDTEL" maxOccurs="unbounded"/>
        <xsd:element name="ADDTLX" type="tns:ADDTLX" maxOccurs="unbounded"/>
        <xsd:element name="ADDTTX" type="tns:ADDTTX" maxOccurs="unbounded"/>
        <xsd:element name="ADDURI" type="tns:ADDURI" maxOccurs="unbounded"/>
        <xsd:element name="ADDX400" type="tns:ADDX400" maxOccurs="unbounded"/>
        <xsd:element name="EXTIDHEAD" type="tns:EXTIDHEAD" maxOccurs="unbounded"/>
        <xsd:element name="EXTIDPART" type="tns:EXTIDPART" maxOccurs="unbounded"/>
        <xsd:element name="PARAMETER1" type="tns:PARAMETER1" maxOccurs="unbounded"/>
        <xsd:element name="PROFILES" type="tns:PROFILES" maxOccurs="unbounded"/>
        <xsd:element name="RETURN" type="tns:RETURN" maxOccurs="unbounded"/>
        <xsd:element name="SYSTEMS" type="tns:SYSTEMS" maxOccurs="unbounded"/>
        <xsd:element name="UCLASSSYS" type="tns:UCLASSSYS" maxOccurs="unbounded"/>
        <xsd:element name="PARAMETER" type="tns:PARAMETER" maxOccurs="unbounded"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR2">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NUM6">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ISLOCKED">
    <xsd:sequence>
        <xsd:element name="WRNG_LOGON" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LOCAL_LOCK" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="GLOB_LOCK" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NO_USER_PW" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR64">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="64"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR250">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADMINDATA">
    <xsd:sequence>
        <xsd:element name="ANAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERDAT" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="TRDAT" type="xsd:date" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR220">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="220"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR132">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="132"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR10">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR1">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="PROFILES">
    <xsd:sequence>
        <xsd:element name="BAPIPROF" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BAPIPTEXT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BAPITYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BAPIAKTPS" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDCOMREM">
    <xsd:sequence>
        <xsd:element name="LANGU" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COMM_TYPE" type="tns:CHAR3" maxOccurs="1"/>
        <xsd:element name="LANGU_ISO" type="tns:CHAR2" maxOccurs="1"/>
        <xsd:element name="COMM_NOTES" type="tns:CHAR50" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="tns:NUM3" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EXTIDPART">
    <xsd:sequence>
        <xsd:element name="SEQ_NO_ID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="EXTFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FIELDNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SEQ_NO_PART" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PART_DATA" type="tns:CHAR192" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR5">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR6">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NUM3">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR20">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR40">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR36">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="36"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BCD2">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="7"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADDTTX">
    <xsd:sequence>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TELETEX" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR30">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SYSTEMS">
    <xsd:sequence>
        <xsd:element name="SUBSYSTEM" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR48">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="48"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR255">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR16">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADDSMTP">
    <xsd:sequence>
        <xsd:element name="E_MAIL" type="tns:CHAR241" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="EMAIL_SRCH" type="tns:CHAR20" maxOccurs="1"/>
        <xsd:element name="ENCODE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TNEF" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SNC">
    <xsd:sequence>
        <xsd:element name="GUIFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PNAME" type="tns:CHAR255" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR14">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADDTLX">
    <xsd:sequence>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TELEX_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ALIAS">
    <xsd:sequence>
        <xsd:element name="USERALIAS" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR50">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NUM4">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="IDENTITY">
    <xsd:sequence>
        <xsd:element name="IDENTITY_UUID" type="tns:CHAR36" maxOccurs="1"/>
        <xsd:element name="BPPERSON" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RETURN">
    <xsd:sequence>
        <xsd:element name="TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LOG_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LOG_MSG_NO" type="tns:NUM6" maxOccurs="1"/>
        <xsd:element name="MESSAGE_V1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="MESSAGE_V2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="MESSAGE_V3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="MESSAGE_V4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SYSTEM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FIELD" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="MESSAGE" type="tns:CHAR220" maxOccurs="1"/>
        <xsd:element name="ID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PARAMETER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ROW" type="xsd:int" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR4">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADDX400">
    <xsd:sequence>
        <xsd:element name="FIRSTNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LASTNAME" type="tns:CHAR40" maxOccurs="1"/>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TNEF" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ADM_DOM" type="tns:CHAR16" maxOccurs="1"/>
        <xsd:element name="PRIV_DOM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ORGANIZATN" type="tns:CHAR64" maxOccurs="1"/>
        <xsd:element name="ORG_UNIT_1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ORG_UNIT_2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ORG_UNIT_3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ORG_UNIT_4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="X_121_ADDR" type="tns:CHAR15" maxOccurs="1"/>
        <xsd:element name="TERM_ID" type="tns:CHAR24" maxOccurs="1"/>
        <xsd:element name="TERM_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="UANID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_TYPE1" type="tns:CHAR8" maxOccurs="1"/>
        <xsd:element name="DDA_VALUE1" type="tns:CHAR128" maxOccurs="1"/>
        <xsd:element name="DDA_TYPE2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_VALUE2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_TYPE3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_VALUE3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_TYPE4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DDA_VALUE4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TXT_ENCODE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="GENERATION" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="INITIALS" type="tns:CHAR5" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDRML">
    <xsd:sequence>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SYMB_DEST" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="REC_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_MAIL_CLT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_MAIL" type="tns:CHAR12" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR192">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="192"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="PARAMETER">
    <xsd:sequence>
        <xsd:element name="PARID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PARVA" type="tns:CHAR18" maxOccurs="1"/>
        <xsd:element name="PARTXT" type="tns:CHAR60" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDPRT">
    <xsd:sequence>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PRINT_DEST" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDURI">
    <xsd:sequence>
        <xsd:element name="URI" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART5" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART6" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART7" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART8" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="URI_PART9" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDSSF">
    <xsd:sequence>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DUMMY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="RFCDEST" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDSHORT" type="tns:CHAR132" maxOccurs="1"/>
        <xsd:element name="SSF_NS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSF_PROF" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART1" type="tns:CHAR250" maxOccurs="1"/>
        <xsd:element name="SSFIDPART2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART5" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART6" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART7" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART8" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SSFIDPART9" type="tns:CHAR48" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR24">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="24"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DEFAULTS">
    <xsd:sequence>
        <xsd:element name="STCOD" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPLD" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPLG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPDB" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPDA" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DATFM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DCPFM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGU" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CATTKENNZ" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="KOSTL" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="START_MENU" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDRFC">
    <xsd:sequence>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LOG_DEST" type="tns:CHAR32" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LASTMODIFIED">
    <xsd:sequence>
        <xsd:element name="MODDATE" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="MODTIME" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="MODIFIER" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDFAX">
    <xsd:sequence>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FAX" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FAX_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SENDER_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FAX_GROUP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="tns:CHAR14" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="EXTENSION" type="tns:CHAR10" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR3">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR80">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR241">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="241"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="BAPI_USER_GET_DETAIL_INPUT">
    <xsd:sequence>
        <xsd:element name="USERNAME" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR15">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ACTIVITYGROUPS">
    <xsd:sequence>
        <xsd:element name="AGR_NAME" type="tns:CHAR30" maxOccurs="1"/>
        <xsd:element name="FROM_DAT" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="TO_DAT" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="AGR_TEXT" type="tns:CHAR80" maxOccurs="1"/>
        <xsd:element name="ORG_FLAG" type="tns:CHAR1" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="REF_USER">
    <xsd:sequence>
        <xsd:element name="REF_USER" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR8">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR60">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ADDRESS">
    <xsd:sequence>
        <xsd:element name="FUNCTION" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGU" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PERS_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ADDR_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TITLE_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FIRSTNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LASTNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BIRTH_NAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="MIDDLENAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SECONDNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FULLNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FULLNAME_X" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TITLE_ACA1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TITLE_ACA2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PREFIX1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PREFIX2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TITLE_SPPL" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NICKNAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAMEFORMAT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAMCOUNTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGU_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGUP_ISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SORT1_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SORT2_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DEPARTMENT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BUILDING_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLOOR_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ROOM_NO_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="INITS_SIG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="INHOUSE_ML" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COMM_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAME_2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAME_3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAME_4" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="C_O_NAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CITY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DISTRICT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CITY_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DISTRCT_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CHCKSTATUS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="POSTL_COD1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="POSTL_COD2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="POSTL_COD3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PO_BOX" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PO_BOX_CIT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PBOXCIT_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DELIV_DIS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TRANSPZONE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STREET" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STREET_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STR_ABBR" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOUSE_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOUSE_NO2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STR_SUPPL1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STR_SUPPL2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STR_SUPPL3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BUILDING" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLOOR" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ROOM_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGU_ISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="REGION" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SORT1" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SORT2" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TAXJURCODE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ADR_NOTES" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TEL1_NUMBR" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TEL1_EXT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FAX_NUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FAX_EXTENS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="E_MAIL" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BUILD_LONG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="REGIOGROUP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_CITY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOMECITYNO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PCODE1_EXT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PCODE2_EXT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PCODE3_EXT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PO_W_O_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PO_BOX_REG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="POBOX_CTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PO_CTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DONT_USE_S" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="DONT_USE_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOUSE_NO3" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGU_CR_P" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LANGUCPISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="NAME" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="LOCATION" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TIME_ZONE" type="tns:CHAR6" maxOccurs="1"/>
        <xsd:element name="TITLE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="INITIALS" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GROUPS">
    <xsd:sequence>
        <xsd:element name="USERGROUP" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EXTIDHEAD">
    <xsd:sequence>
        <xsd:element name="SEQ_NO_ID" type="tns:NUM4" maxOccurs="1"/>
        <xsd:element name="TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CODE_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="EXTID_LEN" type="xsd:int" maxOccurs="1"/>
        <xsd:element name="ISSUER_LEN" type="xsd:int" maxOccurs="1"/>
        <xsd:element name="SERIAL_LEN" type="xsd:int" maxOccurs="1"/>
        <xsd:element name="VALITYINFO" type="xsd:hexBinary" maxOccurs="1"/>
        <xsd:element name="EXTFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VERSION" type="xsd:int" maxOccurs="1"/>
        <xsd:element name="STATUS" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDPAG">
    <xsd:sequence>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PAGER_TYPE" type="tns:CHAR4" maxOccurs="1"/>
        <xsd:element name="PAGER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PAGER_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CALLER_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ADDTEL">
    <xsd:sequence>
        <xsd:element name="COUNTRYISO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CONSNUMBER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="ERRORFLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="STD_RECIP" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="R_3_USER" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="HOME_FLAG" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="FLG_NOUSE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_FROM" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="VALID_TO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CALLER_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TELEPHONE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="TEL_NO" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="EXTENSION" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CHAR12">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHAR32">
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="PARAMETER1">
    <xsd:sequence>
        <xsd:element name="PARID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PARVA" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="PARTXT" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="COMPANY">
    <xsd:sequence>
        <xsd:element name="COMPANY" type="tns:CHAR42" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BAPI_USER_GET_DETAIL_OUTPUT">
    <xsd:sequence>
        <xsd:element name="ADMINDATA" type="tns:ADMINDATA" maxOccurs="1"/>
        <xsd:element name="ALIAS" type="tns:ALIAS" maxOccurs="1"/>
        <xsd:element name="COMPANY" type="tns:COMPANY" maxOccurs="1"/>
        <xsd:element name="ISLOCKED" type="tns:ISLOCKED" maxOccurs="1"/>
        <xsd:element name="LASTMODIFIED" type="tns:LASTMODIFIED" maxOccurs="1"/>
        <xsd:element name="LOGONDATA" type="tns:LOGONDATA" maxOccurs="1"/>
        <xsd:element name="REF_USER" type="tns:REF_USER" maxOccurs="1"/>
        <xsd:element name="SNC" type="tns:SNC" maxOccurs="1"/>
        <xsd:element name="UCLASS" type="tns:UCLASS" maxOccurs="1"/>
        <xsd:element name="BAPI_USER_GET_DETAIL_TABLE" type="tns:BAPI_USER_GET_DETAIL_TABLE" maxOccurs="1"/>
        <xsd:element name="ADDRESS" type="tns:ADDRESS" maxOccurs="1"/>
        <xsd:element name="DEFAULTS" type="tns:DEFAULTS" maxOccurs="1"/>
        <xsd:element name="IDENTITY" type="tns:IDENTITY" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCLASS">
    <xsd:sequence>
        <xsd:element name="LIC_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPEC_VERS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY_SURCHARGE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SUBSTITUTE_FROM" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="SUBSTITUTE_UNTIL" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="SYSID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CLIENT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BNAME_CHARGEABLE" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCLASSSYS">
    <xsd:sequence>
        <xsd:element name="LIC_TYPE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="SPEC_VERS" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="COUNTRY_SURCHARGE" type="tns:BCD2" maxOccurs="1"/>
        <xsd:element name="SUBSTITUTE_FROM" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="SUBSTITUTE_UNTIL" type="xsd:date" maxOccurs="1"/>
        <xsd:element name="SYSID" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="CLIENT" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="BNAME_CHARGEABLE" type="xsd:string" maxOccurs="1"/>
        <xsd:element name="RCVSYSTEM" type="xsd:string" maxOccurs="1"/>
    </xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema targetNamespace="http://ns.sap.com/JcoComposite/JcoService/"
   xmlns:getdetail="test.user.getdetail"
   xmlns:sdoJava="commonj.sdo/java"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="test.user.getdetail"/>
    <xsd:element name="BAPI_USER_GET_DETAIL" type="wsdlns:BAPI_USER_GET_DETAIL"/>
    <xsd:complexType name="BAPI_USER_GET_DETAIL">
        <xsd:sequence>
            <xsd:element name="param0" type="getdetail:BAPI_USER_GET_DETAIL_INPUT" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="BAPI_USER_GET_DETAILResponse" type="wsdlns:BAPI_USER_GET_DETAILResponse"/>
    <xsd:complexType name="BAPI_USER_GET_DETAILResponse">
        <xsd:sequence>
            <xsd:element name="BAPI_USER_GET_DETAILResult" type="getdetail:BAPI_USER_GET_DETAIL_OUTPUT" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  </types>
  <message name="BAPI_USER_GET_DETAILSoapIn" sdo:id="29525730">
    <part name="parameter" element="wsdlns:BAPI_USER_GET_DETAIL" sdo:id="2457371"/>
  </message>
  <message name="BAPI_USER_GET_DETAILSoapOut" sdo:id="29089096">
    <part name="parameter" element="wsdlns:BAPI_USER_GET_DETAILResponse" sdo:id="12366398"/>
  </message>
  <portType name="JcoServiceSoap" sdo:id="5912867">
    <operation name="BAPI_USER_GET_DETAIL" sdo:id="22897006">
      <input message="wsdlns:BAPI_USER_GET_DETAILSoapIn" sdo:id="27766975"/>
      <output message="wsdlns:BAPI_USER_GET_DETAILSoapOut" sdo:id="4519815"/>
    </operation>
  </portType>
  <binding name="JcoServiceSoap" type="wsdlns:JcoServiceSoap" sdo:id="30866355">
    <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" sdo:id="19321823"/>
    <operation name="BAPI_USER_GET_DETAIL" sdo:id="2102960">
      <SOAP:operation soapAction="http://ns.sap.com/JcoComposite/JcoService/BAPI_USER_GET_DETAIL" style="document" sdo:id="11642082"/>
      <input sdo:id="12582949">
        <SOAP:body use="literal" sdo:id="21604244"/>
      </input>
      <output sdo:id="10028020">
        <SOAP:body use="literal" sdo:id="30587319"/>
      </output>
    </operation>
  </binding>
  <service name="JcoService" sdo:id="27184512">
    <port name="JcoServiceSoap" binding="wsdlns:JcoServiceSoap" sdo:id="12954112">
      <SOAP:address location="http://localhost:8080/sca/servlet/JcoComposite/JcoService" sdo:id="18615648"/>
    </port>
  </service>
</definitions>
